<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="SGL" value="https://gitlab.rlp.net/api/v4/projects/23258/packages/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="SGL">
      <package pattern="SGL.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
